-e git+https://github.com/guimou/jupyterhub-quickstart.git@master#egg=ulkubespawner&subdirectory=valeria_spawner
pip==19.1.1
openshift==0.8.6
hvac==0.9.1
jupyterhub==1.0.0
mod_wsgi==4.6.4
Flask==1.0.2
wrapt==1.10.11
